<%- include("../partials/admindbheader.ejs");%>
<div class="login-page">
  <div class="login-body login-page">
    <div class="container login-container signin">
      <div class="row login-row">
        <div class="col-md-12">
          <div class="row login-row">
            <img src="../images/vihari-logo.png" class="image-logo">
          </div>

          <div class="row login-row">
            <div class="col-md-6">
              <form action="/addbus" method="post" id="addbus" enctype="multipart/form-data">
                <div class="row login-row">
                  <div class="col-md-6">
                    <div class="input-group mb-3 user">
                      <span class="input-group-text span"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      <div class="form-floating">
                        <input type="text" class="form-control inputs" id="source" name="srcname"
                          placeholder="Source Name" fdprocessedid="2myzgp">
                        <span class="invalid-form" id="invalid-source"></span>
                        <label for="floatingInputGroup1">Source name</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="input-group mb-3 user">
                      <span class="input-group-text span"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      <div class="form-floating">
                        <input type="text" class="form-control inputs" id="destination" name="destname"
                          placeholder="Destination name" fdprocessedid="2myzgp">
                        <span class="invalid-form" id="invalid-destination"></span>
                        <label for="floatingInputGroup1">Destination name</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-globe" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control inputs" name="trname" placeholder="Travels Name"
                      fdprocessedid="2myzgp" id="trname">
                    <span class="invalid-form" id="invalid-trname"></span>
                    <label for="floatingInputGroup1">Travels Name</label>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control inputs" name="deptime" placeholder="Departure time"
                      fdprocessedid="2myzgp" id="dept-time">
                    <span class="invalid-form"></span>
                    <label for="floatingInputGroup1">Departure time</label>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control inputs" name="arrtime" placeholder="Arrival Time"
                      fdprocessedid="2myzgp" id="arr-time">
                    <span class="invalid-form"></span>
                    <label for="floatingInputGroup1">Arrival Time</label>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control inputs" name="durtime" placeholder="Duration Time"
                      fdprocessedid="2myzgp" id="duration">
                    <span class="invalid-form"></span>
                    <label for="floatingInputGroup1">Duration Time</label>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-money" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control inputs" name="tktprice" placeholder="Ticket price"
                      fdprocessedid="2myzgp" id="tktprice">
                    <span class="invalid-form" id="invalid-tktprice"></span>
                    <label for="floatingInputGroup1">Ticket price</label>
                  </div>
                </div>
                <div class="input-group mb-3 user">
                  <span class="input-group-text span"><i class="fa fa-bus" aria-hidden="true"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control inputs" name="btype" placeholder="Ac or Non-Ac"
                      fdprocessedid="2myzgp" id="bustype">
                    <span class="invalid-form" id="invalid-bustype"></span>
                    <label for="floatingInputGroup1">Bus Type</label>
                  </div>
                  <div class="input-group mb-3 user">
                    <span class="input-group-text span"><i class="fa fa-bus" aria-hidden="true"></i></span>
                    <div class="form-floating">
                      <input type="file" class="form-control inputs" name="bimage" placeholder="Ac or Non-Ac"
                        fdprocessedid="2myzgp" id="bustype">
                      <span class="invalid-form" id="invalid-bustype"></span>
                      <label for="floatingInputGroup1">Bus Image</label>
                    </div>
                </div>
                <input type="submit" value="ADD BUS" class="btn btn-primary btn-submit-login">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
     

         
         </script> 
  <style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  </style>
          <%- include("../partials/admindbfooter.ejs"); %>