<%- include("../partials/admindbheader.ejs");%>
  <!-- Form to add a new place in a tour page -->
  <div class="login-page">

    <!-- <div style="margin-left: 600px;"><h1>Users Details</h1></div> -->
    <div class="login-body login-page">
      <div class="container login-container signin">
        <div class="row login-row">
          <div class="col-md-12">
            <div class="row login-row">
              <img src="/images/vihari-logo.png" class="image-logo">
            </div>
            <input type="hidden" name="tid" value="<%=id%>">
            <div class="row login-row">
              <div class="col-md-6">
                <form action="/admindb/addplaces/<%=id%>" method="post" id="addplaces" enctype="multipart/form-data">
                  <div class="row login-row">
                    <div class="col-md-6">

                      <div class="input-group mb-3 user">
                        <span class="input-group-text span"><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <div class="form-floating">
                          <input style="width: 250%;" type="text" class="form-control inputs" id="tname" name="pname"
                            placeholder="Touname" fdprocessedid="2myzgp">

                          <label for="floatingInputGroup1">place</label>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3 user">
                      <span class="input-group-text span"><i class="fa fa-money" aria-hidden="true"></i></span>
                      <div class="form-floating">
                        <input type="text" class="form-control inputs" name="pdesc" placeholder="TourPrice"
                          fdprocessedid="2myzgp" id="email">

                        <label for="floatingInputGroup1">Place description</label>
                      </div>
                    </div>
                    <div class="input-group mb-3 user">
                      <span class="input-group-text span"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      <div class="form-floating">
                        <input type="file" class="form-control inputs" name="pimage" placeholder="Visting place1"
                          fdprocessedid="2myzgp" id="vp1">

                        <label for="floatingInputGroup1">place Display image</label>
                      </div>
                    </div>

                    <input type="submit" value="ADD TOUR" class="btn btn-primary btn-submit-login">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var form1 = document.getElementById('addplaces');
    form1.addEventListener('submit', function (e) {
      if (tnamevalidation() == false || visitingplace1validation() == false || visitingplace2validation() == false || description2validation() == false) {
        e.preventDefault();
      }
      else {
        console.log("Added Tour successfully");
      }
    });
  </script>
  <%- include("../partials/admindbfooter.ejs"); %>