<div class="navbar-header">
  <a href="/" class="logo"><span>V</span>ihari</a>
  <nav class="navbar navbar-expand-lg sticky-top p-0 burge">
    <form style="align-items: center; display: flex" class="d-flex" method="post" action="/user/tours">
      <input name="tname" class="form-control me-2 search" type="search" placeholder="Search Tours" aria-label="Search"
        id="header-search-bar" />
      <button class="btn1" type="submit" style="color: #06bbcc;background-color: transparent;">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <i class="fas fa-hamburger" style="color: #06bbcc;"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0  responsivenav">
        <a href="/userhome" class="nav-item nav-link">Home</a>
        <a href="/userhome/#gallery" class="nav-item nav-link">Destination</a>
        <a href="/user/tours" class="nav-item nav-link">Tours</a>
        <a href="/userhome/#services" class="nav-item nav-link">Services</a>
        <a href="/userhome/#reviews" class="nav-item nav-link">Reviews</a>
        <a href="/user/about" class="nav-item nav-link">About</a>
        <a href="/user/contact" class="nav-item nav-link">Contact</a>
        <div class="dropdown" >
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 1rem;background-color: transparent;margin-top: 10px;">
            Manage Booking
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/prevbookings" style="background-color: #14141469; color: aliceblue;">Previous Bookings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="icons">
    <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" id="login-btn"></i></a>
  </div>
</div>