<%- include("partials/header.ejs") %>
  <%- include("partials/navbar.ejs") %>
  <section id="gallery" class="gallery">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="../images/Mumbai.jpg" alt="portfolio image" />
        </div>
        <div class="col">
          <img src="../images/Chennai.jpg" alt="portfolio image" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../images/Delhi.jpg" alt="portfolio image" />
        </div>
        <div class="row">
          <div class="col">
            <img src="../images/Hyderabad.jpg" alt="portfolio image" />
          </div>
          <div class="col">
            <img src="../images/Goa.jpg" alt="portfolio image" />
          </div>
        </div>
        <div class="col">
          <img src="../images/Bangalore.jpg" alt="portfolio image" />
        </div>
        
      </div>
    </div>
    </section>
    <%- include("partials/footer.ejs") %>