<%- include("partials/admindbheader.ejs");%>
<div class="twelve head">
    <h1>Visiting Places in <%=tour.tname %></h1>
  </div>
<a href="/admindb/addplace"><button class="addnew btn btn-success"type="button" style="margin-left: 1100px;margin-bottom: 25px;"><i class='fa fa-user-plus'></i>&nbsp; Add New place</button></a>
<%- include("partials/admindbfooter.ejs"); %>