<%- include("partials/header.ejs"); %>
<%- include("partials/signedinnav.ejs"); %>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Bus Image</th>
        <th scope="col">Travel Agency</th>
        <th scope="col">Boarding Station</th>
        <th scope="col">Destination</th>
        <th scope="col">Fare</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td scope="row" style="max-width: 100px;">
                <div><img width="200px" src="/images/bus1.png" alt=""></div>
       </td>
        <td>APSRTC</td>
        <td style="max-width: 50px;">Sricity</td>
        <td>Chennai</td>
        <td>200</td>
        <td><button style="width: 50%; top:0;" class="btn btn-lg  btn-success">Completed</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td scope="row" style="max-width: 100px;">
                <div><img width="200px" src="/images/bus3.jpg" alt=""></div>
       </td>
        <td>KSRTC</td>
        <td style="max-width: 50px;">Bangalore</td>
        <td>Tirupathi</td>
        <td>700</td>
        <td><button style="width: 50%; top:0;" class="btn btn-lg  btn-success">Completed</button></td>
      </tr>
      <tr>
        <td>3</td>
        <td scope="row" style="max-width: 100px;">
                <div><img width="200px" src="/images/bus1.png" alt=""></div>
       </td>
        <td>Orange</td>
        <td style="max-width: 50px;">Mumbai</td>
        <td>Pune</td>
        <td>1500</td>
        <td><button style="width: 50%; top:0;" class="btn btn-lg  btn-success">Completed</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td scope="row" style="max-width: 100px;">
                <div><img width="200px" src="/images/bus3.jpg" alt=""></div>
       </td>
        <td>PSP Travels</td>
        <td style="max-width: 50px;">Nellore</td>
        <td>Eluru</td>
        <td>900</td>
        <td><button style="width: 50%; top:0;" class="btn btn-lg  btn-success">Completed</button></td>
      </tr>
    </tbody>
  </table>
<%- include("partials/footer.ejs"); %>