<nav class="navbar navbar-expand-lg navbar-dark " id="navbar" style="background-color: #06bbcc;">
    <a class="navbar-brand" href="/">
      <i class="fa fa-bus" aria-hidden= "true"></i>
    </a>
    <a class="navbar-brand" href="/admindb">Vihari</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id ="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
      </ul>
      
      <form id="frmLogout" action="/admin"></form>
      <ul class="navbar-nav ml-auto">
      <ul class="navbar-nav  mr-sm-2">
      
      </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            Welcome, <b>Admin</b>!
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/adminprofile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Sign Out
            </a>
          </div>
        </li>
       
  
      </ul>
    </div>
  </nav>