<div class="navbar-header">
    <a href="/" class="logo"><span>V</span>ihari</a>
    <nav class="navbar navbar-expand-lg sticky-top p-0 burge">
        <form style="align-items: center; display: flex" class="d-flex" method="post" action="/tours/search">
            <input name="tname" class="form-control me-2 search" type="search" placeholder="Search Tours"
                aria-label="Search" id="header-search-bar" />
            <button class="btn1" type="submit" style="color: #06bbcc;background-color: transparent;">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <i class="fas fa-hamburger" style="color: #06bbcc;"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0  responsivenav">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/#gallery" class="nav-item nav-link">Destination</a>
                <a href="/tours" class="nav-item nav-link">Tours</a>
                <a href="/#services" class="nav-item nav-link">Services</a>
                <a href="/#reviews" class="nav-item nav-link">Reviews</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>

    <div class="icons">
        <a href="/login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
    </div>
</div>