div.buses{
    height: 100%;
    overflow: auto;
}

nav.searchnav.bus-nav{
    box-shadow: 2px 2px 10px black;
    margin-bottom: 25px; 
    padding: 10px;
    background: linear-gradient(60deg,rgb(19, 10, 205),rgb(118, 118, 199),rgb(84, 137, 236));
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "Home Home Search Search filter User";
    column-gap: 5%;
}
div.bus-nav-item-1{
    grid-area: Home;

}
div.bus-nav-item-2{
    grid-area: Search;
}
div.bus-nav-item-3{
    grid-area: filter;
    justify-self: self-end;
}
div.bus-nav-item-4{
    grid-area: User;
    justify-self: self-end;
}


span.search-icon{
    background-color: rgb(76, 111, 218);
    padding: 6px;
    color:rgb(224, 210, 210);
    border: none;
    border-bottom-right-radius:15px ;
    border-top-right-radius:15px ;
 }
 input.search-box{
    padding: 5px;
    margin-right: -3px;
    border-bottom-left-radius:15px ;
    border-top-left-radius:15px ;
    width: auto;
 }

div.travel-details{
    margin: auto 0;
    box-shadow: 2px 2px 10px black;
   padding: 1%;
   display:grid;
   grid-template-columns: repeat(5,1fr);
}
a.bus-home{

font-size: large;
color: whitesmoke;
}
div.route{
  display: grid;
  grid-template-columns: repeat(3,1fr);
    font-size: large;
    font-weight: 700;
    column-gap: 1ch;
   }
div.date{
display:grid;
grid-template-columns: repeat(3,1fr);
}
span.DOJ{
justify-content: center;
   font-weight: 700;

}
span.date{
    display: grid;
    grid-template-columns: 1fr;
}
span.day{
    margin:auto 0;
   font-weight: 600;
   font-size: small;
   margin-left:5px
}
span.prev{
    justify-self: center;

}

input.btn.btn-primary.modify{
    margin: auto 0;
    font-size: large;
    width: 120px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
}
div.row-bus{
    display: grid;
   grid-template-columns: repeat(6,1fr);
}
ul.bus-list{
    list-style: none;
}

div.bus-customize{
    margin-left: 5%;
}
 img.bus-img{
   width: 70%;
    margin: auto 0;
    margin: 7%;
}
div.bus-i-n{
    display: block;
}
div.bus-item{
    border:1px solid;
    display: grid;
    grid-template-columns: repeat(6,1fr); 
    grid-template-rows: repeat(1,1fr);
    column-gap: 30px;
    row-gap: 25px;
    align-items: center;
    padding: 5px;
}
span.duration{
    font-weight: lighter;
    margin:auto 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.bus-name{
    font-weight:700;
    margin-left: 25px;
}
div.duration{
    align-self: center;
}
span.departure{
    font-size:larger;
    /* font-weight:bolder; */
    margin:auto 0;
  display: block;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 }

 span.Arrival{
    font-size:larger;
    margin:auto 0;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 span.depart{

    font-weight: 100;
 }
 span.A-C{
   margin-left: 70%;
  margin: auto 0;
  position: relative;
  top: -10px;
  left: 50px;
   font-weight:lighter;
 }
span.bus-last-name{
    position: relative;
    left: 65%;
    top:-30%;
}
ul.bus-types,ul.departure-time{
    list-style: none;
    padding: 2px;
}
li.type-class{
    margin: 15px;
}
button.clear-all.btn.btn-secondary,button.apply-filters.btn.btn-primary{
    width: 20%;
    height: 35px;
    border-radius: 9px;
   font-weight: 600;
    color: aliceblue;
    font-size:medium ;
 }
 button.clear-all{
     background-color: rgb(185, 6, 6);
 }
 button.apply-filters.btn-primary{
    background-color: blueviolet;
 }
 a.nav-icon{
    color: aliceblue;
 }
 a.bus-home{
    font-weight: 500;
 }
input.btn-primary.book-seats{
    font-size:medium;
    font-weight: 600;
    padding: 2px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: blueviolet;
    
    width: 115px;
 }

/* ADdditional features */


 input.search-box:focus{
    outline: none;
 }
 input.search-box::placeholder{
    color: rgb(108, 103, 103);
 }


a.nav-icon:hover{
    transition-property:font-size,font-weight;
    font-size:larger;
    font-weight: 500;
    transition-duration: 50ms;

 }
 a.bus-home:hover{
    transition-property:font-size,font-weight;
    font-size:larger;
    font-weight: 700;
    transition-duration: 100ms;
 }

 div.bus-details:hover{
    transition-property: box-shadow;
    transition-duration: 100ms;
    box-shadow: 3px 3px 10px rgb(95, 89, 89);
 }
 /* Responsive */
 @media screen and (max-width:565px) {
form.search-bar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

input.search-box{
    width: 120px;
}
div.travel-details{
    column-gap: 15px;
    font-size: small;
}
div.route{
    font-size: small;
    font-weight:600 ;
}
input.btn.btn-primary.modify{
   font-size: medium;
   width: 70px;
}
span.search-icon{
    position: absolute;
    top:10px;
}
div.row-bus{
  grid-template-columns: repeat(5,1fr);
  font-size: small;
}
div.bus-item{
    grid-template-columns: repeat(5,1fr);
    padding:5px;
    font-size: small;
    column-gap: 5px;   
}
input.btn-primary.book-seats{
    font-size: smaller;
}
nav.searchnav.bus-nav{
  grid-template-columns: repeat(5,1fr);
}
 }