.contact-title{
    background-image: linear-gradient(to right, #d7d2cc 0%, #06bbcc 100%);
}
.contactus{
    position: relative;
    width:100%;
    padding:40px 70px;
}
.contactus .contact-title
{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    border-radius: 2rem;
}

.contactus .contact-title h2
{
    color:beige;
    font-size: 40px;
}
.contact-box
{
    position: relative; 
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info";
    grid-gap:10px;
    margin-top: 20px;
    height: 800px;
}
.form2
{
    grid-area: form;
}
.info1
{
    grid-area: info;
    background-color: rgb(239, 233, 237);
}

.form span
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100px;
}
.form .row
{
    display:flex;
    gap:20px;
}
.form1{
    height: auto;
    width:100%;
    padding:40px;
    background-color: white;
    border-radius: 23px;
}
.form1 h4{
    color:rgb(18, 18, 19);
    font-size:1.7rem; 
    font-weight: 500;
}
.contact-input
{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    width:50%;
}
.form .row2 .contact-input
{
    width: 100%;
    border-radius: 23px;
}
.contact-input input{
    padding:10px;
    font-size:1.2rem;
    outline: none;
}
.contact-input textarea{
    padding:10px;
    font-size:1.2rem;
    outline: none;
    resize:none;
    height:200px;
    margin-bottom: 10px;
}
.contact-input input::placeholder{
    color: black;
}
.contact-input input[type="submit"]
{
    background:rgb(119, 119, 141);
    color:rgb(20,20,19);
    font-size:1.2rem;
    font-weight: 500;
    max-width: 120px;
    cursor:pointer;
}
.info1{
    width:100%;
    padding:40px;
    background-color:white;
    
    border-radius: 23px;
}
.info1 h4{
    color:rgb(63, 60, 59);
    margin-bottom: 20px;
} 
.info1 .info div
{
    display: flex;
    align-items: center;
    margin-bottom:10px;
    margin-top: 5px;
}
.info1 .info div span
{
    min-width:30px;
    height:30px;
    color:bisque;
    background: rgb(5, 64, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 5cm;
}
.info1 .info div p
{
    color: #424649; 
    margin-left:15px;
}
.info1 .info div a
{
    color: #424649; 
    text-decoration: none;
    font-size:1.05rem;
    margin-left:15px;
}
.submt{
    border-radius: 25px;
    color: white;
}
 .contact-input input,textarea{
    padding: 10px;
    margin: 15px;
    border-radius: 24px;
    border-style: none;
    background-color: rgba(34, 36, 37, 0.493);
    color: white;
 }
 ::placeholder{
    color: rgb(232, 222, 222);
 }

 @media (max-width: 900px){
    contact-title{
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    }
    
    .contactus{
        padding:20px;
    }
    .contact-box{
        position: relative;
        display:grid;
        height:1800px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info";
    }
    .form .row
    {
    display:flex;
    gap:0px;
    flex-direction: column;
    }
    .contact-input
    {
        width:100%;
    }
    .form1{
        padding:30px;
    }
}